
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
h1 { 
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
  }
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
  }
button:hover {
    background-color: #0056b3;
  }
ul {
    list-style-type: none;
    padding: 0;
  }
li {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.remove-button {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
.remove-button:hover {
    background-color: #c82333;
  }
